<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(function(){
          $("#importPart").load("navbar");
        });
    </script>

    <title>Garbage System Application</title>
</head>
<body>
<div id="importPart"></div>
<br>
<div class="jumbotron">
    <h1 class="display-4">Garbage System Application</h1>
    <p class="lead">This is a garbage management system for smart cities.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>


</body>
</html>