<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(function(){
          $("#importPart").load("navbar");
        });
    </script>

    <title>Report an issue</title>
</head>
<body>
    <div id="importPart"></div>
    <br>
    <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTOWV9dXknkzn5CFMdZ6xU-bXy2OapOj-WG6hbFlLLf8tLSKjRB&usqp=CAU" class="rounded" >
    </div>
    <h1 align="center">Contact Us.</h1>
    <div>
        <p align="center"> <strong> Having any question regards our project?</strong></p>
        <br>
        <p align="center"><strong> Having any troubles with our product?</strong></p>
        <br>
        <p align="center"> You can send us an E-mail via Team27Collect@smartcity.com or leave us your detail down below and we contact you as soon as possible. </p>
    </div>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Write something...</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

</body>