<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script>
        $(function(){
          $("#importPart").load("navbar");
        });
    </script>

    <title>About</title>
</head>
<body>
<div id="importPart"></div>
<br>
<h1 align="center" ><strong>About Us</strong></h1>
<br>
<div>
    <p align="center">
        Smart Garbage System is a apart of a new smart-cities concept which allows the city to be better and look greener.
        The smart city concept integrates information and communication technology (ICT), and various physical devices connected to the IoT network to optimize the efficiency of city operations and services and connect to citizens. Smart city technology allows city officials to interact directly with both community and city infrastructure and to monitor what is happening in the city and how the city is evolving. ICT is used to enhance quality, performance and interactivity of urban services, to reduce costs and resource consumption and to increase contact between citizens and government. Smart city applications are developed to manage urban flows and allow for real-time responses. A smart city may therefore be more prepared to respond to challenges than one with a simple "transactional" relationship with its citizens. Yet, the term itself remains unclear to its specifics and therefore, open to many interpretations</p>
    <img src="https://i.pinimg.com/originals/7a/1f/52/7a1f528fe6d83bb3fc621c3c13044771.jpg" width="1600" height="400" id="image">

    <p align="center">
        <strong >We SCE students do believe that with advanced technology we could make the world a better place to live in.</strong>
    </p>
</div>

</body>
</html>